@model IEnumerable<ViewModels.Models.Article.ArticleViewModel>

@{
    ViewBag.Title = "Display Details";
}
@section style{
    <style>
        table {
            margin-top: 2rem;
        }

        .validation-text-custom {
            font-size: 1.1rem;
        }

        .validation-table-custom {
            margin: 0 auto;
        }

        td {
            padding: 5px 0;
        }
    </style>

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayDetails</title>
</head>
<body>
    <div>
        @if (Model.Count() != 0)
        {
            <table class="table table-hover table-bordered k-shadow">
                @foreach (var item in Model)
                {
                    <tr>
                        <td><b>Title</b> &nbsp; : &nbsp;</td>
                        <td>@item.Title</td>
                    </tr>
                    <tr>
                        <td><b>Content</b> &nbsp; : &nbsp;</td>
                        <td>@item.Content</td>
                    </tr>
                    <tr>
                        <td><b>Description</b> &nbsp; : &nbsp;</td>
                        <td>@item.Description</td>
                    </tr>
                    <tr>
                        <td><b>Publish Date</b> &nbsp; : &nbsp;</td>
                        <td>@item.PublishDate</td>
                    </tr>
                }
            </table>
        }
    </div>

    <hr />
    <div>
        @*@using (Html.BeginForm("AddComment", "Article", FormMethod.Post, new { id = "AddCommentForm" }))
        {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <table class=".validation-table-custom">
            <tr>
                <td>@Html.Label("Title") &nbsp;  : &nbsp; </td>
                <td>
                    @Html.TextBox()
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
        }
        <div class="text-center">
            <input class="btn btn-success" value="Add" type="button" id="add" />
            @Html.ActionLink("Back", "Index", new { Controller = "Home" }, new { @class = "btn btn-primary" })
        </div>*@
    </div>
</body>
</html>
@section scripts{
    <script>
        $(document).ready(function (){
            $("#showComments").load("/Comment/ShowComments/36")
        })
    </script>


    }

}
