@model Domain.Entities.Security.Model.Role
@{
    Layout = null;
    ViewBag.Title = "Add Role";
}

<div class="modal-dialog" id="modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
                <i class="fa fa-lg fa-plus" style="margin-right:1rem"></i>
                <b>
                    Add Role Form
                </b>
            </h4>
        </div>
        <div class="modal-body">
            @using (Html.BeginForm("Add", "Role", FormMethod.Post, new { id = "AddRoleForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <table style="margin:0 auto;">
                    <tr>
                        <td>@Html.LabelFor(l => l.Title) &nbsp; : &nbsp;</td>
                        <td>@Html.TextBoxFor(t => t.Title, new { @class = "form-control" })</td>
                        <td style="font-size:1.1rem;" class="text-center">&nbsp;&nbsp; @Html.ValidationMessageFor(t => t.Title, null, new { @class = "text-danger" })</td>
                    </tr>
                </table>
            }
        </div>
        <div class="modal-footer" style="display:flex;justify-content:center">
            @*<input class="btn btn-success" value="Add" type="button" onclick="AddRole()" />*@
            <input class="btn btn-success" value="Add" type="button" id="btn-add-role" />
            <button type="button" class="btn btn-default" data-dismiss="modal" id="closeBtn">Close</button>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>


<script>
    $(function () {
        $("#btn-add-role").off("click");
        $("#btn-add-role").on("click", function (e) {

            var title = $("#@Html.IdFor(x=>x.Title)").val();
            var data = {
                title: title
            };

            if (validateRole(data)) {
                $("#btn-add-role").prop('disabled', true);
            $.post('@Url.Action("Add","Role")', data).done(function (result) {
                if (result.success) {
                    gridLoad();
                    $("#add-edit-delete-box").modal("toggle");
                }
            }).always(function () {
                $("#btn-add-role").prop('disabled', false);
            });
            }

        });
    });

    function validateRole(data) {

        return true;
        if (data !== null) {
            if (data.title == null || data.title.length == 0) {
                alert('title is required');
                return false;
            }
        }

        return true;
    }

    $('form').validate({
        rules: {
            'title': required
        },
        messages: {
            'title':'Enter role title'
        }
    })
    ///////////////////////////////////////////////////////////////
    @*function AddRole() {
            var title = $("#Title").val();
            //var data = $("#AddRoleForm").serializeObject(true);
            $.post('@Url.Action("Add","Role")', { title: title })
                .done(function (result) {
                    $("#modal").toggle();
                    alert("Successfully Adding.");
                });
        }*@
        //.fail(function () {
        //    alert("Error!");
        //});
        //.always(function() {
        //  alert( "finished" );
        //});
</script>