@model Domain.Entities.Security.Model.Role
@{
    Layout = null;
    ViewBag.Title = "Add Role";
}

    <div class="modal-dialog" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <i class="fa  fa-lg fa-plus" style="margin-right:1rem"></i>
                    <b>
                        Add Role Form
                    </b>
                </h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Add", "Role", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <table style="margin:0 auto;">
                        <tr>
                            <td>@Html.LabelFor(l => l.Title) &nbsp; : &nbsp;</td>
                            <td>@Html.TextBoxFor(t => t.Title, new { @class = "form-control" })</td>
                            <td style="font-size:1.1rem;" class="text-center">&nbsp;&nbsp; @Html.ValidationMessageFor(t => t.Title, null, new { @class = "text-danger" })</td>
                        </tr>
                    </table>
                }
            </div>
            <div class="modal-footer" style="display:flex;justify-content:center">
                <input class="btn btn-success" value="Add" type="submit" onclick="AddRole()" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
<script>
    function AddRole() {
        var title = $("#Title").val();
        $.post('@Url.Action("Add","Role")', { title: title })
            .done(function () {
                $("#modal").toggle();
            alert("Successfully Adding.");
        })
    }

        //.fail(function () {
        //    alert("Error!");
        //});
  //.always(function() {
  //  alert( "finished" );
  //});


</script>