
@{
    ViewBag.Title = "Display Roles";
}
@section style{
    <style>
        a {
            text-decoration: none;
        }

        #delete a {
            color: white
        }

        .add-form {
            display: none;
        }

        .edit-form {
            display: none;
        }

        .add-btn {
            margin: 1rem 2rem 1rem 0;
            width: 10rem;
            font-weight: bold;
        }

        .edit-btn {
            font-weight: bold;
            margin-right: 1rem;
        }

        .delete-btn {
            font-weight: bold;
        }

        .panel-heading-custom {
            font-weight: bold;
        }

        .close-btn {
            cursor: pointer;
            color: red;
            position: absolute;
            right: 10px;
        }

        .panel-custom {
            width: 30%;
            position: absolute;
        }

        .btn-Roles {
            margin: 1rem 2rem 1rem 0;
            width: 10rem;
            font-weight: bold;
        }

        .btn-icons {
            margin-right: 1rem;
        }

        .justify-content-center {
            display: flex;
            justify-content: center;
        }

        .alert-custom {
            margin: 0 auto;
            width: 50%;
        }
    </style>
}


<div class="btn btn-primary btn-sm btn-Roles">
    <i class="fa fa-user btn-icons"></i>
    Roles
</div>
<hr />
<div class="btn btn-primary btn-sm add-btn btn-index-add-role">
    <i class="fa fa-plus btn-icons"></i>
    Add
</div>
<div id="table-box">
</div>

<div class="panel panel-default">
    <div class="panel-body">
        @(Html.Kendo().Grid<Domain.Entities.Security.Model.Role>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.Title);
        columns.Command(command => { command.Destroy(); }).Width(100);

    })
    .HtmlAttributes(new { style = "height: 550px;" })
    .Scrollable()
    //.Groupable()
    .Sortable()
    .Editable(editTable => editTable.Mode(GridEditMode.InLine).ConfirmDelete("Continue to Delete this record?").DisplayDeleteConfirmation("Continue to delete this record?"))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .Model(model => model.Id(r => r.RoleId))
        .Read(read => read.Action("FillRoleGrid", "Role"))
        .Destroy(destroy => destroy.Action("Delete", "Role"))
        .PageSize(20)
    )
        )
    </div>
</div>

<div id="add-edit-delete-box" class="modal fade" role="dialog">
</div>

@section scripts
{
    <script type="text/javascript">
        var _roleListUrl = '@Url.Action("Get" , "Role")';
        var _addUrl = '@Url.Action("Add","Role")';
        var _editUrl = '@Url.Action("Edit","Role")';
        var _deleteUrl = '@Url.Action("Delete","Role")';
    </script>

    <script type="text/javascript">
        $(document).ready(function (e) {
            //init grid
            //gridLoad();
        });

        //create modal
        $(".btn-index-add-role").off("click");
        $(".btn-index-add-role").on("click", function () {
            $.get(_addUrl).done(function (result) {
                $("#add-edit-delete-box").html(result);
                $("#add-edit-delete-box").modal("show");
            });
        });

        //edit modal
        $(document).off('click', '.edit-btn');
        $(document).on('click', '.edit-btn', function (e) {
            e.preventDefault();
            var id = $(this).data("roleid");
            $.get(_editUrl, { roleId: id }).done(function (result) {
                $("#add-edit-delete-box").html(result);
                $("#add-edit-delete-box").modal("show");
            });
        })

        //delete modal
        $(document).off('click', '.btn-index-delete-role');
        $(document).on('click', '.btn-index-delete-role', function (e) {
            var id = $(this).data("roleid");
            $.get(_deleteUrl, { roleId: id }).done(function (result) {
                $("#add-edit-delete-box").html(result);
                $("#add-edit-delete-box").modal("show");
            });
        });


        //refresh grid
        function gridLoad() {
            $("#table-box").empty();
            $.ajax({
                url: _roleListUrl,
                type: 'GET',
                datatype: "json",
                success: function (response) {
                    $("#table-box").html(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
}