<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/content/fontawesome")
    @Styles.Render("~/content/KendoUI")

    @RenderSection("style", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/KendoUI")

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-light" style="background:#fff">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="display:flex;justify-content:center;align-items:center;">
                    <i class="fa fa-lg fa-book text-info" style="margin-right:1rem"></i>
                    @Html.ActionLink("Article Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="navbar-collapse co
                 +-llapse">
                <ul class="nav navbar-nav">
                    <li style="display:flex;justify-content:center;align-items:center;">
                        <i class="fa fa-home text-primary" style="margin-left:5rem"></i>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li style="display:flex;justify-content:center;align-items:center;">
                        <i class="fa fa-folder text-primary" style="margin-left:3rem"></i>
                        @Html.ActionLink("Articles", "Index", "Article")
                    </li>
                    <li style="display:flex;justify-content:center;align-items:center;">
                        <i class="fa fa-list text-primary" style="margin-left:3rem;"></i>
                        @Html.ActionLink("Categories", "Index", "Category")
                    </li>
                    <li style="display:flex;justify-content:center;align-items:center;">
                        <i class="fa fa-users text-primary" style="margin-left:3rem;"></i>
                        @Html.ActionLink("Users", "Index", "User")
                    </li>
                    <li style="display:flex;justify-content:center;align-items:center;">
                        <i class="fa fa-user text-primary" style="margin-left:3rem;"></i>
                        @Html.ActionLink("Roles", "Index", "Role")
                    </li>
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated) { 
                    <li style="display:flex;justify-content:center;align-items:center;">
                        
                        <i class="fa fa-sign-in text-primary" style="margin-left:3rem"></i>
                        @Html.ActionLink("Login", "Login", "Account")
                    </li>
                    }
                    else
                    {
                        <li style="display:flex;justify-content:center;align-items:center;padding-top:2rem;font-size:0.95rem">
                            <b class="text-primary">Welcome @HttpContext.Current.User.Identity.Name :)</b> 
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><b class="text-muted">&copy; @DateTime.Now.Year</b> - <b class="text-primary">Artile Project</b></p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
